.chart-container {
  flex: 1;
  margin: 10px;
  min-width: 200px;
  min-height: 150px;
}

.charts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.chartHeading {
  padding-left: 10px;
  margin-left: 2vw;
  padding-bottom: 10px;
}

