.chart-container {
  flex: 1;
  margin: 10px;
  min-width: 25vw;
  min-height: 150px;
  margin-top: 5vh;
  background-color: #00000029;
  padding: 1%;  
}

.charts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



.dataValue{
  text-align: -webkit-center;
}

.datas{
  background-color: #00000029;
  padding: 1%;
}